.vheight-100 {
  min-height: 100vh;
}

.below-nav {
  margin-top: 4rem;
}

.list-group-item {
  background-color: transparent;
}

.list-group-item.active {
  color: white;
  background-color: #28a745;
  border-color: #28a745;
}

.list-group-item-action:hover {
  background-color: #9becae;
  border-color: #9becae;
}

/* Add task button */
.fixed-right-bottom {
  position: fixed;
  
  right: 25px;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 50%;
}

/* Imposta il body per occupare tutto lo schermo e centrare il contenuto */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  height: 100vh; /* altezza viewport completa */
  display: flex; /* attiva flexbox */
  justify-content: center; /* centra orizzontalmente */
  align-items: center; /* centra verticalmente */
  background-color: rgba(72, 72, 72, 0.3); /* sfondo leggermente scuro per effetto overlay */
  background: rgba(0, 0, 0, 0.5);
  margin: 0; /* rimuove margini default */
  font-family: Arial, sans-serif; /* font leggibile */

   z-index: 9999;
 /* il trucco: nascondi l’overlay intero */
  visibility: hidden;
}

#overlay.show {
  visibility: visible;
}

/* Stile principale del form come scheda */
#Task {
  background-color: #fff; /* sfondo bianco */
  padding: 20px; /* spazio interno */
  border-radius: 10px; /* angoli arrotondati */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* ombra per effetto pop-up */
  width: 400px; /* larghezza fissa */
  display: flex; /* flex per contenuto verticale */
  flex-direction: column; /* mette i div uno sotto l'altro */
  gap: 15px; /* spazio tra i campi */
 
}

/* Stile dei div interni per maggiore chiarezza */
#Task div {
  display: flex; /* flex per label + input */
  flex-direction: column; /* input sotto label */
}

/* Stile delle label */
#Task label {
  font-weight: bold; /* rende le label in grassetto */
  margin-bottom: 5px; /* distanza dal campo input */
}

/* Stile degli input e select */
#Task input[type="text"],
#Task input[type="datetime"],
#Task select {
  padding: 8px; /* padding interno */
  border: 1px solid #ccc; /* bordo leggero */
  border-radius: 5px; /* angoli leggermente arrotondati */
  font-size: 14px; /* dimensione testo leggibile */
}

/* Stile checkbox */
#Task input[type="checkbox"] {
  width: auto; /* checkbox standard */
  margin-top: 0px; /* piccolo spazio sopra */
  position: relative;
  left:10px;
  top:5px;
  width:22px;
  height: 22px;
}

.hidden {
   display: none !important;
   }

  #addTaskSub,#cancel{
    width: 100px;
    margin: 5px;
    flex: 1; /* opzionale: li rende della stessa larghezza */
    border: 1px solid rgb(85, 204, 61);
    background-color:rgb(68, 236, 34);
    border-radius: 5px;

   
  }
    #addTaskSub:hover,#cancel:hover{
      background-color:rgb(35, 194, 3);
    }

  #btns {
  
    display:flex;
    justify-content: space-between;
    gap:150px;
     flex-direction:row !important;
  }
.containerData_DeleGap{
  display:flex;
  gap:10px;
}