.vheight-100 {
    min-height: 100vh;
}

.below-nav {
    margin-top: 4rem;
}

.list-group-item {
    background-color: transparent;
}

.list-group-item.active {
    color:white;
    background-color: #28a745;
    border-color: #28a745;
}

.list-group-item-action:hover {
    background-color: #9becae;
    border-color: #9becae;
}


/* Add task button */
.fixed-right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
}