
<nav id="nav">
<form id ="Task">
    <div>
        <labe for = "descrizione">descrizione: </labe>
        <input name ="descrizione" type ="text" placehoder="inserice una descrizione">
    </div>
                
    <div>
       <labe for = "data">data</labe>
       <input name ="data" type="datetime">
    </div>
   
    <div>
    <labe for = "progetto">progetto</labe>        
      <select name ="progetto"> 
         <option value ="Upo">UPO</opption>
         <option value ="Personale">Personale</option>
      </select>
    </div>

    <div>
        <labe for = "importante">importante</labe>
        <input name="importante" type ="checkbox">
    </div>
                
    </form>
</nav>